.card {
    margin: 5px auto !important;
    width: 90%;
}
.Feed {
    margin-top: 10px;
    margin-bottom: 70px;
}

.fa-thin {
    font-size: 20px;
}

.loginMessage {
    text-align: center;
}

.invitationToLogin {
    margin: 0 auto;
    border-radius: 50px;
    padding: 10px;
    border: 1px solid rgb(146, 142, 142);
    box-shadow: 10px 5px 5px gray;
    margin: 10px;
}


.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .card {
      width: 60%;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  
}
