.card {
    margin: 5px auto !important;
    width: 90%;
}
.Feed {
    margin-top: 10px;
    margin-bottom: 70px;
}

.fas, .fa-map-marker {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
  .card {
      width: 60%;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  
}
